
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#menu-home{
    list-style: none;
    padding: 0;
    background-color: rgb(0, 0, 0);
}
#menu-home ul li{
display: inline;
}
#menu-home ul li a{
    color: rgb(254, 254, 255);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;    
}
#menu-home ul li:last-child a {
    float: right;
}

#menu-home ul li :hover{
    background-color: rgb(123, 13, 197);
    color: rgb(6, 255, 172);
}
#p-01{
    font-family: Georgia, 'Times New Roman', Times, serif;  
    margin: 20px;
}
#p-02{
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin: 20px;   
}
body{
    background-image: linear-gradient( 90deg, rgb(4, 235, 243), rgb(181, 19, 230));
}
#h1-01{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
#button-01{
    color: rgb(0, 0, 0);
    background-color: rgb(72, 255, 0);
    margin: 20px;
    margin-top: 20px;
}

#button-02{
    color:  rgb(0, 0, 0);
    background-color: rgb(0, 255, 34);
    margin: 5px;
}

