*{
    /* margin: 0 auto;
    padding: 0;*/
    box-sizing: border-box; 
}
img{
    width: 100%;
}
#menu-home{
    list-style: none;
    padding: 0;
    background-color: rgb(0, 0, 0);
}
#menu-home ul li{
display: inline;
}
#menu-home ul li a{
    color: rgb(254, 254, 255);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}
#menu-home ul li:last-child a {
    float: right;
}

#menu-home ul li :hover{
    background-color: rgb(123, 13, 197);
    color: rgb(6, 255, 172);
}

#h2-cor{
    color: rgb(0, 255, 13);
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 55px;
}
#h3-mds{
    color: rgb(255, 72, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(8, 7, 7);    
}
#logo{
    text-align: center;
    height: 150px;
    width: 150px;
    display: flex;
    
}
#texto-footer{
    color: rgb(0, 247, 255);
    background-color: rgb(67, 8, 122);
}
.section-img{

     flex-wrap: nowrap;
     width: 100%;
     justify-content: center;

} 
 .iteis-img img {
    height: 300px;
    width: 500px;
}
.todas-img{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
#color-02{
    color: aqua;
    text-align: center;
}

   
